<div class="d-flex justify-content-between align-items-center my-4">
    <h2 class="m-0 main-color"><b>Usuarios</b></h2>
</div>

<table class="table" *ngIf="usuarios.length > 0; else usuariosEmptyTableMessage">
    <thead>
        <tr>
            <th class="text-center">Nombre y apellido</th>
            <th class="text-center">DNI</th>
            <th class="text-center">Email</th>
            <th class="text-center">Rol</th>
            <th class="text-center">Organización</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td class="align-middle text-center">{{ usuario.nombreYapellido }}</td>
                <td class="align-middle text-center">{{ usuario.dni }}</td>
                <td class="align-middle text-center">{{ usuario.email ? usuario.email : '-' }}</td>
                <td class="align-middle text-center">{{ usuario.rol.nombre }}</td>
                <td class="align-middle text-center">{{ usuario.organizacion ? usuario.organizacion.nombre : '-' }}</td>
                <td class="d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-primary btn-circle">
                    <img src="ico-eye.png">
                </button>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #usuariosEmptyTableMessage>
    <td 
        *ngIf="!(loading$ | async)" 
        class="d-flex justify-content-center align-items-center"
        data-cy="empty-table-message"
    >
        <h4 class="secondary-color">No hay usuarios aún. Aquí aparecerán los usuarios registrados.</h4>
    </td>
</ng-template>