<form [formGroup]="usuarioForm" (ngSubmit)="manageUsuario()" autocomplete="off">
    <div>
        <div>
            <label for="nombre" class="form-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.hasError('required')">
                    El nombre es requerido.
                </div>
                <div *ngIf="nombre.hasError('minlength')">
                    El nombre debe contener al menos 2 caracteres.
                </div>
            </div>
        </div>
        <br>
        <div>
            <label for="apellido" class="form-label">Apellido: </label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido">
            <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" >
                <div *ngIf="apellido.hasError('required')">
                    El apellido es requerido.
                </div>
                <div *ngIf="apellido.hasError('minlength')">
                    El apellido debe contener al menos 2 caracteres.
                </div>
            </div>
        </div>
        <br>
        <div>
            <label for="dni" class="form-label">DNI: </label>
            <input type="text" class="form-control" id="dni" formControlName="dni">
            <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" >
                <div *ngIf="dni.hasError('required')">
                    El dni es requerido.
                </div>
                <div *ngIf="dni.hasError('minlength')">
                    El dni debe contener al menos 7 dígitos.
                </div>
            </div>
        </div>
        <br>
        <div>
            <label for="email" class="form-label">Email: </label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" >
                <div *ngIf="email.hasError('email')">
                    El email es inválido.
                </div>
            </div>
        </div>
        <br>
        <div>
            <label for="username" class="form-label">Nombre de usuario: </label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" >
                <div *ngIf="username.hasError('required')">
                    El nombre de usuario es requerido.
                </div>
                <div *ngIf="username.hasError('minlength')">
                    El nombre de usuario debe tener al menos 2 caracteres.
                </div>
                <div *ngIf="username.hasError('pattern')">
                    El nombre de usuario no puede contener espacios.
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="input-group">
                <label for="password" class="form-label">Contraseña: </label>
                <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" >
                <div *ngIf="password.hasError('required')">
                    La contraseña es requerida.
                </div>
            </div>
        </div>
        <br>
    </div>
    <div>
        <button type="button" (click)="resetUsuarioForm()">Cancelar</button>
        <button type="submit" [disabled]="!usuarioForm.valid">
            <ng-container *ngIf="!usuarioIdSeleccionado; else updateAction">
                Registrar usuario
            </ng-container>
            <ng-template #updateAction>
                Editar usuario
            </ng-template>
        </button>
    </div>
</form>

<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Dni</th>
            <th class="text-center">Email</th>
            <th class="text-center">Nombre de usuario</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.dni }}</td>
            <td>{{ usuario.email ? usuario.email : '-' }}</td>
            <td>{{ usuario.username }}</td>
            <td>
                <button type="button" (click)="setUsuarioForm(usuario)">
                    Editar
                </button>
                <button type="button" (click)="deleteUsuario(usuario)">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>