<div class="d-flex justify-content-between align-items-center my-4">
    <h2 class="m-0 main-color"><b>Nuevo proyecto de construcción</b></h2>
</div>
<form [formGroup]="proyectoDeConstruccionForm" (ngSubmit)="manageProyecto()" autocomplete="off">
    <ul ngbNav #nav="ngbNav" [(activeId)]="currentStep" class="nav-tabs">
        <li [ngbNavItem]="1" [disabled]="true">
            <button ngbNavLink>1. Datos del proyecto</button>
            <!-- Formulario de proyecto -->
            <ng-template ngbNavContent>
                <div class="mt-3" formGroupName="proyecto">
                    <h5 class="my-4">Proyecto de construcción</h5>
                    <div class="row mb-3">
                        <div class="col-8">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" formControlName="nombre">
                            <div *ngIf="proyecto.nombre.invalid && (proyecto.nombre.dirty || proyecto.nombre.touched)" class="alert">
                                <div *ngIf="proyecto.nombre.hasError('required')">
                                    El nombre es requerido.
                                </div>
                                <div *ngIf="proyecto.nombre.hasError('minlength')">
                                    El nombre debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <label for="nroExpediente" class="form-label">Expediente</label>
                            <input type="text" class="form-control" id="nroExpediente" formControlName="nroExpediente">
                            <div *ngIf="proyecto.nroExpediente.invalid && (proyecto.nroExpediente.dirty || proyecto.nroExpediente.touched)" class="alert">
                                <div *ngIf="proyecto.nroExpediente.hasError('required')">
                                    El expediente es requerido.
                                </div>
                                <div *ngIf="proyecto.nroExpediente.hasError('minlength')">
                                    El expediente debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="provincia" class="form-label">Provincia</label>
                            <select class="form-select" id="provincia" formControlName="provincia">
                                <option *ngFor="let provincia of provincias" [value]="provincia.provinciaId">{{ provincia.nombre }}</option>
                            </select>
                            <div *ngIf="proyecto.provincia.invalid && (proyecto.provincia.dirty || proyecto.provincia.touched)" class="alert">
                                <div *ngIf="proyecto.provincia.hasError('required')">
                                    La provincia es requerida.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="ciudad" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" id="ciudad" formControlName="ciudad">
                            <div *ngIf="proyecto.ciudad.invalid && (proyecto.ciudad.dirty || proyecto.ciudad.touched)" class="alert">
                                <div *ngIf="proyecto.ciudad.hasError('required')">
                                    La dirección es requerido.
                                </div>
                                <div *ngIf="proyecto.ciudad.hasError('minlength')">
                                    La dirección debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="ubicacion" class="form-label">Domicilio del inmueble</label>
                            <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion">
                            <div *ngIf="proyecto.ubicacion.invalid && (proyecto.ubicacion.dirty || proyecto.ubicacion.touched)" class="alert">
                                <div *ngIf="proyecto.ubicacion.hasError('required')">
                                    La ubicación es requerida.
                                </div>
                                <div *ngIf="proyecto.ubicacion.hasError('minlength')">
                                    La ubicación debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="tipoObra" class="form-label">Tipo de obra</label>
                            <select class="form-select" id="tipoObra" formControlName="tipoObra">
                                <option *ngFor="let tipoObra of tiposObra" [value]="tipoObra.tipoObraId">{{ tipoObra.nombre }}</option>
                            </select>
                            <div *ngIf="proyecto.tipoObra.invalid && (proyecto.tipoObra.dirty || proyecto.tipoObra.touched)" class="alert">
                                <div *ngIf="proyecto.tipoObra.hasError('required')">
                                    El tipo de obra es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="destino" class="form-label">Destino</label>
                            <select class="form-select" id="destino" formControlName="destino">
                                <option *ngFor="let destino of destinos" [value]="destino.destinoId">{{ destino.nombre }}
                                </option>
                            </select>
                            <div *ngIf="proyecto.destino.invalid && (proyecto.destino.dirty || proyecto.destino.touched)" class="alert">
                                <div *ngIf="proyecto.destino.hasError('required')">
                                    El destino es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="escala" class="form-label">Escala</label>
                            <input type="text" class="form-control" id="escala" formControlName="escala">
                            <div *ngIf="proyecto.escala.invalid && (proyecto.escala.dirty || proyecto.escala.touched)" class="alert">
                                <div *ngIf="proyecto.escala.hasError('required')">
                                    La escala es requerida.
                                </div>
                                <div *ngIf="proyecto.escala.hasError('minlength')">
                                    La escala debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="antecedentes" class="form-label">Antecedentes</label>
                            <textarea class="form-control" id="antecedentes" formControlName="antecedentes"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="referencias" class="form-label">Referencias</label>
                            <textarea class="form-control" id="referencias" formControlName="referencias"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="otrasExigencias" class="form-label">Otras exigencias</label>
                            <textarea class="form-control" id="otrasExigencias" formControlName="otrasExigencias"></textarea>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2" [disabled]="true">
            <button ngbNavLink>2. Datos del propietario</button>
            <!-- Formulario de propietario -->
            <ng-template ngbNavContent>
                <div class="mt-3" formGroupName="propietario">
                    <h5 class="my-4">Propietario del inmueble</h5>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" formControlName="apellido">
                            <div *ngIf="propietario.apellido.invalid && (propietario.apellido.dirty || propietario.apellido.touched)" class="alert">
                                <div *ngIf="propietario.apellido.hasError('required')">
                                    El apellido es requerido.
                                </div>
                                <div *ngIf="propietario.apellido.hasError('minlength')">
                                    El apellido debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="nombres" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombres" formControlName="nombres">
                            <div *ngIf="propietario.nombres.invalid && (propietario.nombres.dirty || propietario.nombres.touched)" class="alert">
                                <div *ngIf="propietario.nombres.hasError('required')">
                                    El nombre es requerido.
                                </div>
                                <div *ngIf="propietario.nombres.hasError('minlength')">
                                    El nombre debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="dni" class="form-label">DNI</label>
                            <input type="text" class="form-control" id="dni" formControlName="dni">
                            <div *ngIf="propietario.dni.invalid && (propietario.dni.dirty || propietario.dni.touched)" class="alert">
                                <div *ngIf="propietario.dni.hasError('pattern')">
                                    El DNI sólo puede contener números.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="domicilio" class="form-label">Domicilio actual</label>
                            <input type="text" class="form-control" id="domicilio" formControlName="domicilio">
                            <div *ngIf="propietario.domicilio.invalid && (propietario.domicilio.dirty || propietario.domicilio.touched)" class="alert">
                                <div *ngIf="propietario.domicilio.hasError('required')">
                                    El domicilio es requerido.
                                </div>
                                <div *ngIf="propietario.domicilio.hasError('minlength')">
                                    El domicilio debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="telefono" formControlName="telefono">
                            <div *ngIf="propietario.telefono.invalid && (propietario.telefono.dirty || propietario.telefono.touched)" class="alert">
                                <div *ngIf="propietario.telefono.hasError('pattern')">
                                    El teléfono sólo puede contener números.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                            <div *ngIf="propietario.email.invalid && (propietario.email.dirty || propietario.email.touched)" class="alert">
                                <div *ngIf="propietario.email.hasError('email')">
                                    El email es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="3" [disabled]="true">
            <button ngbNavLink>3. Proyectistas</button>
            <ng-template ngbNavContent>
                <!-- Formulario de proyectista -->
                <form [formGroup]="proyectistaForm" autocomplete="off">
                    <div class="mt-3">
                        <h5 class="my-4">Proyectistas</h5>
                        <span>Completá los datos de al menos un proyectista. Luego, presioná el botón "Guardar proyectista".</span>
                        <div class="row my-3">
                            <div class="col">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="apellido" formControlName="apellido">
                                <div *ngIf="proyectista.apellido.invalid && (proyectista.apellido.dirty || proyectista.apellido.touched)" class="alert">
                                    <div *ngIf="proyectista.apellido.hasError('required')">
                                        El apellido es requerido.
                                    </div>
                                    <div *ngIf="proyectista.apellido.hasError('minlength')">
                                        El apellido debe contener al menos 2 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" formControlName="nombre">
                                <div *ngIf="proyectista.nombre.invalid && (proyectista.nombre.dirty || proyectista.nombre.touched)" class="alert">
                                    <div *ngIf="proyectista.nombre.hasError('required')">
                                        El nombre es requerido.
                                    </div>
                                    <div *ngIf="proyectista.nombre.hasError('minlength')">
                                        El nombre debe contener al menos 2 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="dni" class="form-label">DNI</label>
                                <input type="text" class="form-control" id="dni" formControlName="dni">
                                <div *ngIf="proyectista.dni.invalid && (proyectista.dni.dirty || proyectista.dni.touched)" class="alert">
                                    <div *ngIf="proyectista.dni.hasError('pattern')">
                                        El DNI sólo puede contener números.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="matricula" class="form-label">Matrícula</label>
                                <input type="text" class="form-control" id="matricula" formControlName="matricula">
                                <div *ngIf="proyectista.matricula.invalid && (proyectista.matricula.dirty || proyectista.matricula.touched)" class="alert">
                                    <div *ngIf="proyectista.matricula.hasError('required')">
                                        La matrícula es requerida.
                                    </div>
                                    <div *ngIf="proyectista.matricula.hasError('minlength')">
                                        La matrícula debe contener al menos 2 caracteres.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="domicilio" class="form-label">Domicilio</label>
                                <input type="text" class="form-control" id="domicilio" formControlName="domicilio">
                                <div *ngIf="proyectista.domicilio.invalid && (proyectista.domicilio.dirty || proyectista.domicilio.touched)" class="alert">
                                    <div *ngIf="proyectista.domicilio.hasError('required')">
                                        El domicilio es requerido.
                                    </div>
                                    <div *ngIf="proyectista.domicilio.hasError('minlength')">
                                        El domicilio debe contener al menos 2 caracteres.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="telefono" formControlName="telefono">
                                <div *ngIf="proyectista.telefono.invalid && (proyectista.telefono.dirty || proyectista.telefono.touched)" class="alert">
                                    <div *ngIf="proyectista.telefono.hasError('pattern')">
                                        El teléfono sólo puede contener números.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center my-4 gap-3">
                            <button 
                                type="button" 
                                class="d-flex align-items-center gap-2 btn btn-primary bg-accent-color text-white"
                                ngbAutofocus 
                                [disabled]="!proyectistaForm.valid"
                                (click)="agregarProyectista()"
                            >
                                <img src="ico-plus.png" style="width: 30px; height: auto;">
                                <b>Guardar proyectista</b>
                            </button>
                        </div>
                        <!-- Listado de proyectistas -->
                        <div *ngIf="proyectistas.length > 0">
                            <h4>Listado de Proyectistas</h4>
                            <ul>
                                <li *ngFor="let proyectista of proyectistas.controls; let i = index">
                                    <strong>Proyectista {{i + 1}}:</strong>
                                    <ul>
                                        <li>Apellido: {{ proyectista.get('apellido')?.value }}</li>
                                        <li>Nombre: {{ proyectista.get('nombre')?.value }}</li>
                                        <li>DNI: {{ proyectista.get('dni')?.value }}</li>
                                        <li>Matrícula: {{ proyectista.get('matricula')?.value }}</li>
                                        <li>Domicilio: {{ proyectista.get('domicilio')?.value }}</li>
                                        <li>Teléfono: {{ proyectista.get('telefono')?.value ? proyectista.get('telefono')?.value : '-'}}</li>
                                    </ul>
                                    <button class="btn btn-primary bg-accent-color text-white my-3" (click)="eliminarProyectista(i)">Eliminar proyectista</button>
                                    <hr>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </ng-template>
        </li>
        <li [ngbNavItem]="4" [disabled]="true">
            <button ngbNavLink>4. Dirección técnica</button>
            <!-- Formulario de dirección técnica -->
            <ng-template ngbNavContent>
                <div class="mt-3" formGroupName="direccionTecnica">
                    <h5 class="my-4">Dirección Técnica</h5>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label for="tipoPersona" class="form-label">Tipo de persona</label>
                            <select class="form-select" id="tipoPersona" formControlName="tipoPersonaId">
                                <option *ngFor="let tipoPersona of tiposPersona" [value]="tipoPersona.tipoPersonaId">{{ tipoPersona.descripcion }}</option>
                            </select>
                            <div *ngIf="direccionTecnica.tipoPersonaId.invalid && (direccionTecnica.tipoPersonaId.dirty || direccionTecnica.tipoPersonaId.touched)" class="alert">
                                <div *ngIf="direccionTecnica.tipoPersonaId.hasError('required')">
                                    El tipo de persona es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="direccionTecnica.tipoPersonaId.value == 'PERSONAJURIDICA'">
                            <label for="razonSocial" class="form-label">Razón social</label>
                            <input type="text" class="form-control" id="razonSocial" formControlName="razonSocial">
                            <div *ngIf="direccionTecnica.razonSocial.invalid && (direccionTecnica.razonSocial.dirty || direccionTecnica.razonSocial.touched)" class="alert">
                                <div *ngIf="direccionTecnica.razonSocial.hasError('required')">
                                    La razón social es requerida.
                                </div>
                                <div *ngIf="direccionTecnica.razonSocial.hasError('minlength')">
                                    La razón social debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col" *ngIf="direccionTecnica.tipoPersonaId.value == 'PERSONAJURIDICA'">
                            <label for="cuit" class="form-label">CUIT</label>
                            <input type="text" class="form-control" id="cuit" formControlName="cuit">
                            <div *ngIf="direccionTecnica.cuit.invalid && (direccionTecnica.cuit.dirty || direccionTecnica.cuit.touched)" class="alert">
                                <div *ngIf="direccionTecnica.cuit.hasError('required')">
                                    El CUIT es requerido.
                                </div>
                                <div *ngIf="direccionTecnica.cuit.hasError('pattern')">
                                    El CUIT sólo puede contener números.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3" *ngIf="direccionTecnica.tipoPersonaId.value == 'PERSONAJURIDICA'">
                        <div class="col">
                            <label for="domicilio" class="form-label">Domicilio</label>
                            <input type="text" class="form-control" id="domicilio" formControlName="domicilio">
                            <div *ngIf="direccionTecnica.domicilio.invalid && (direccionTecnica.domicilio.dirty || direccionTecnica.domicilio.touched)"
                                class="alert">
                                <div *ngIf="direccionTecnica.domicilio.hasError('required')">
                                    El domicilio es requerido.
                                </div>
                                <div *ngIf="direccionTecnica.domicilio.hasError('minlength')">
                                    El domicilio debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="telefono" formControlName="telefono">
                            <div *ngIf="direccionTecnica.telefono.invalid && (direccionTecnica.telefono.dirty || direccionTecnica.telefono.touched)"
                                class="alert">
                                <div *ngIf="direccionTecnica.telefono.hasError('pattern')">
                                    El teléfono sólo puede contener números.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                            <div *ngIf="direccionTecnica.email.invalid && (direccionTecnica.email.dirty || direccionTecnica.email.touched)"
                                class="alert">
                                <div *ngIf="direccionTecnica.email.hasError('email')">
                                    El email es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="my-4">Responsable</h5>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="nombreApellido" class="form-label">Nombre y apellido</label>
                            <input type="text" class="form-control" id="nombreApellido" formControlName="nombreApellido">
                            <div *ngIf="direccionTecnica.nombreApellido.invalid && (direccionTecnica.nombreApellido.dirty || direccionTecnica.nombreApellido.touched)"
                                class="alert">
                                <div *ngIf="direccionTecnica.nombreApellido.hasError('required')">
                                    El nombre del responsable es requerido.
                                </div>
                                <div *ngIf="direccionTecnica.nombreApellido.hasError('minlength')">
                                    El nombre del responsable debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="dni" class="form-label">DNI</label>
                            <input type="text" class="form-control" id="dni" formControlName="dni">
                            <div *ngIf="direccionTecnica.dni.invalid && (direccionTecnica.dni.dirty || direccionTecnica.dni.touched)" class="alert">
                                <div *ngIf="direccionTecnica.dni.hasError('pattern')">
                                    El DNI sólo puede contener números.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="matricula" class="form-label">Matrícula</label>
                            <input type="text" class="form-control" id="matricula" formControlName="matricula">
                            <div *ngIf="direccionTecnica.matricula.invalid && (direccionTecnica.matricula.dirty || direccionTecnica.matricula.touched)" class="alert">
                                <div *ngIf="direccionTecnica.matricula.hasError('required')">
                                    La matrícula es requerida.
                                </div>
                                <div *ngIf="direccionTecnica.matricula.hasError('minlength')">
                                    La matrícula debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="especialidad" class="form-label">Especialidad</label>
                            <input type="text" class="form-control" id="especialidad" formControlName="especialidad">
                            <div *ngIf="direccionTecnica.especialidad.invalid && (direccionTecnica.especialidad.dirty || direccionTecnica.especialidad.touched)" class="alert">
                                <div *ngIf="direccionTecnica.especialidad.hasError('required')">
                                    La especialidad del responsable es requerido.
                                </div>
                                <div *ngIf="direccionTecnica.especialidad.hasError('minlength')">
                                    La especialidad del responsable debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3" *ngIf="direccionTecnica.tipoPersonaId.value == 'PERSONAFISICA'">
                        <div class="col">
                            <label for="domicilio" class="form-label">Domicilio</label>
                            <input type="text" class="form-control" id="domicilio" formControlName="domicilio">
                            <div *ngIf="direccionTecnica.domicilio.invalid && (direccionTecnica.domicilio.dirty || direccionTecnica.domicilio.touched)" class="alert">
                                <div *ngIf="direccionTecnica.domicilio.hasError('required')">
                                    El domicilio es requerido.
                                </div>
                                <div *ngIf="direccionTecnica.domicilio.hasError('minlength')">
                                    El domicilio debe contener al menos 2 caracteres.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="telefono" formControlName="telefono">
                            <div *ngIf="direccionTecnica.telefono.invalid && (direccionTecnica.telefono.dirty || direccionTecnica.telefono.touched)" class="alert">
                                <div *ngIf="direccionTecnica.telefono.hasError('pattern')">
                                    El teléfono sólo puede contener números.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                            <div *ngIf="direccionTecnica.email.invalid && (direccionTecnica.email.dirty || direccionTecnica.email.touched)" class="alert">
                                <div *ngIf="direccionTecnica.email.hasError('email')">
                                    El email es inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="5" [disabled]="true">
            <button ngbNavLink>5. Planos</button>
            <!-- Formulario de planos -->
            <ng-template ngbNavContent>
            <div class="mt-3" formGroupName="planos">
                <app-planos
                    [planos]="planos" 
                    (planosChange)="setPlanos($event)">
                ></app-planos>
            </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <div class="d-flex justify-content-end align-items-center my-4 gap-3">
        <button 
            type="button" 
            class="d-flex align-items-center gap-2 btn btn-primary bg-accent-color text-white" 
            ngbAutofocus
            [disabled]="currentStep === 1"
            (click)="nav.select(currentStep-1)"
        >
            <img src="ico-left-arrow.png" style="width: 30px; height: auto;">
            <b>Anterior</b>
        </button>
        <button 
            [type]="currentStep < 5 ? 'button' : 'submit'" 
            class="d-flex align-items-center gap-2 btn btn-primary bg-accent-color text-white"
            ngbAutofocus
            [disabled]="currentStep == 5 && !proyectoDeConstruccionForm.valid"
            (click)="currentStep < 5 ? nav.select(currentStep+1) : null"
        >
            <b>{{ currentStep < 5 ? 'Siguiente' : 'Finalizar' }}</b>
            <img src="ico-right-arrow.png" style="width: 30px; height: auto;">
        </button>
    </div>
</form>