<h5 class="my-4">Planos</h5>
<span>Adjuntá el/los planos y seleccioná las zonas a recortar</span>
<div class="mb-5">
    <div class="d-flex">
        <app-plano-editor (croppedImage)="openModalGestionPlano($event)"></app-plano-editor>
    </div>
</div>
<div *ngIf="planos.value.length > 0">
    <h5 class="my-4">Planos actuales</h5>
    <div ngbAccordion [closeOthers]="true">
        <div *ngFor="let plano of planos.value; let i = index" ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Plano {{ i+1 }} - {{ getDescripcionEspecialidad(plano.especialidad) }}</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="d-flex">
                            <div class="ms-5">
                                <img [src]="plano.imagen" alt="`Plano ${i}`">
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <div>
                                    <div class="ms-5 my-3">
                                        <h4>Especialidad</h4>
                                        <span class="ps-4">{{ getDescripcionEspecialidad(plano.especialidad) }}</span>
                                    </div>
                                    <div class="ms-5 my-3" *ngIf="plano.etiquetas.length > 0">
                                        <h4>Etiquetas</h4>
                                        <div class="ps-4">
                                            <span *ngFor="let tag of plano.etiquetas" class="badge bg-primary m-1">
                                                {{ tag }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-5 my-3">
                                    <button type="button" class="btn btn-primary" (click)="eliminarPlano(i)">Eliminar plano</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalGestionPlano let-modal>
    <app-plano-modal-view></app-plano-modal-view>
</ng-template>