<div>
    <div class="d-flex align-items-center gap-4 mt-2 mb-2">
        <div class="col">
            <select class="form-select" id="files" (change)="changeSelectedImage($event)">
                <option hidden>Seleccioná el plano que querés recortar</option>
                <option *ngFor="let file of files; index as i" [value]="i">{{ file.name }}</option>
            </select>
        </div>

        <input type="file" #fileInput (change)="onFilesAdded($event)" multiple hidden />
        <button type="button" class="btn btn-primary bg-accent-color text-white" (click)="fileInput.click()">
            Adjuntar planos
            <img src="ico-plus.png" style="width: 30px; height: auto;">
        </button>
    </div>
    <div>
        <canvas #planoEditor></canvas>
    </div>
    <div>
        <button type="button" class="btn btn-primary bg-accent-color text-white" *ngIf="selectedImage" (click)="zoomIn()">Zoom In</button>
        <button type="button" class="btn btn-primary bg-accent-color text-white" *ngIf="selectedImage" (click)="zoomOut()">Zoom Out</button>
        <button type="button" class="btn btn-primary bg-accent-color text-white" *ngIf="selectedImage && !isCropping" (click)="enableCrop()">Recortar</button>
        <button type="button" class="btn btn-primary bg-accent-color text-white" *ngIf="isCropping" (click)="cropImage()">Aceptar recorte</button>
        <button type="button" class="btn btn-primary bg-accent-color text-white" *ngIf="isCropping" (click)="disableCrop()">Cancelar</button>
    </div>
    <!-- <div class="plano-workspace-container"> -->
        <!-- <ngx-file-drop 
            dropZoneClassName="ngx-file-drop-zone"
            contentClassName="ngx-file-drop-content"
            (onFileDrop)="onFilesAdded($event)" 
            (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)"
        >
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <div class="d-flex flex-column justify-content-center align-items-center gap-2">
                    <span>Arrastra y suelta archivos aquí o haz clic para seleccionar</span>
                    <button 
                        type="button"
                        class="btn btn-primary bg-accent-color text-white"
                        (click)="openFileSelector()"
                    >
                        Adjuntar planos
                        <img src="ico-plus.png" style="width: 30px; height: auto;">
                    </button>
                </div>
            </ng-template>
        </ngx-file-drop> -->
    <!-- </div> -->
</div>